.page-home {
  $banner_w_pc: 1440px;

  section {
    &.banner {
      min-height: 100vh;
      min-height: calc(var(--vh) * 100);
      position: relative;
      > .content {
        overflow: hidden;
        position: relative;
        z-index: 3;
        min-height: calc(var(--vh) * 100);
        display: flex;
        align-items: center;
        .p-3 {
          margin-left: -10px;
        }
      }
      .main-content {
        padding: 0% 15.5% 0;
        margin-top: -7%;
        .slogan {
          margin-top: 34px;
          color: #fff;
          @include fontSize(38px);
          font-weight: 700;
          line-height: 70px;
          letter-spacing: 9.167px;
        }
      }
      .tasteUsNow-wrap {
        position: absolute;
        z-index: 3;
        bottom: 75px;
        left: 50%;
        transform: translate(-50%, 0);
        .tasteUsNow {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          > .plate {
            position: relative;
            width: 65px;
            background-image: url('/image/icon-plate.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &:after {
              content: '';
              display: block;
              padding-bottom: 100%;
            }
          }
          > .text {
            color: #fff;
            @include fontSize(14px);
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-top: 11px;
          }
        }
      }
      .agency-wrap {
        position: absolute;
        z-index: 3;
        //left: 0;
        left: #{math.div(62.5px, $banner_w_pc) * 100%};
        top: 50%;
        @include fontSize(16px);
        color: #fff;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.222px;
        transform: rotate(-90deg) translate(-50%, 0%);
        transform-origin: 0 0;

        .agency {
          display: flex;
          align-items: center;
          &::before {
            content: '';
            height: 2px;
            width: 113px;
            background-color: #fff;
            margin-right: 24.5px;
          }
        }
      }
      > .line-scroll {
        position: absolute;
        z-index: 3;
        bottom: -86px;
        left: 50%;
        transform: translate(-50%, 0);
        mix-blend-mode: plus-lighter;
        .line {
          overflow: hidden;
          display: block;
          width: 1px;
          height: 130px;
          &:before,
          &:after {
            content: '';
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #808080;
          }
          &:before {
            animation: scroll-line-before-move 4s $animeCubic2 infinite;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
          }
          &:after {
            animation: scroll-line-after-move 4s $animeCubic2 infinite;
            animation-fill-mode: forwards;
          }
        }
      }
      .bg-cover__container {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .default-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: url('/image/banner-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .video-wrap {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;
        opacity: 0;
        transition: opacity 2s ease;
        &.loaded {
          opacity: 1;
          transform: none;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: #000;
          opacity: 0.3;
        }
      }
      .brand-video {
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 0;
        // width: 100%;
        // height: 100%;
        transform: translate(-50%, 0);
        pointer-events: none;
      }
      .ds-anime-title {
        .text {
          @include textUnderLine(8px);
          padding-right: 0;
          background-position: left bottom 10px;
        }
      }
    }
    &.aboutDigiSalad {
      padding-top: 125px;
      .sec-title {
        > .wave {
          display: block;
          background-image: url('/image/wave.svg'), url('/image/wave.svg');
          background-repeat: no-repeat, no-repeat;
          background-position: 0px 0, right 1px center;
          width: 369px;
          margin-left: 20px;
        }
      }
      .video-wrap {
        position: relative;
        max-width: 960px;
        margin: 0 auto;
        margin-top: 71px;
        &:after {
          content: '';
          display: block;
          padding-bottom: calc(720 / 1280) * 100%;
        }
        > .cover {
          cursor: pointer;
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          right: -1px;
          height: 100%;
          background-image: url('/image/video-thumbnail.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          transition: all 0.3s ease;
          &:hover {
            .btn-play {
              transform: scale(1.1);
            }
          }
          .btn-play-wrap {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 11.77%;
            display: flex;
            &:after {
              content: '';
              display: block;
              padding-bottom: 100%;
            }
          }
          .btn-play {
            width: 100%;
            background-image: url('/image/media-play-symbol.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            transition: all 0.35s $animeCubic1;
          }
          &.playing {
            opacity: 0;
            pointer-events: none;
            transition-delay: 0.1s;
            .btn-play {
              transform: scale(1.5);
              opacity: 0;
            }
          }
        }
        > iframe {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      > .sec-content {
        margin-top: 30px;
      }
    }
    &.awards {
      position: relative;
      margin-top: 70px;
      display: flex;
      justify-content: flex-end;
      .sec-title-warp {
        justify-content: flex-start;
      }
      .sec-title {
        > .text > .dot {
          left: 7px;
        }
        > .wave {
          display: block;
          background-image: url('/image/wave.svg');
          background-repeat: no-repeat;
          width: 191px;
          margin-left: 0px;
        }
      }
      .awards-board-wrap {
        position: relative;
        z-index: 1;
        margin-left: 98px;
      }
      .awards-board {
        background-color: #fff;
        border-radius: 50px;
        border-top-right-radius: 0;
        padding: 65px 69px;
        display: flex;
        > .contentBox {
          width: 33.333333%;
          min-width: 416px;
        }
        > .awardList {
          flex: 1;
          padding-left: 37px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-left: -37px;
          margin-top: -10px;
          > * {
            max-width: 50%;
            padding-left: 37px;
            padding-top: 10px;
          }
        }
        .sec-content {
          margin-top: 30px;
          max-width: none;
          text-align: left;
        }
      }
      .half-bg {
        position: absolute;
        z-index: 0;
        height: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $themeColor1;
        border-top-left-radius: 50px;
      }
    }
    &.ourIngradients {
      padding-top: 104px;
      padding-bottom: 129px;
      background-color: $themeColor1;
      .sec-title {
        color: #fff;
        > .wave {
          display: block;
          background-image: url('/image/wave2.svg'), url('/image/wave2.svg');
          background-repeat: no-repeat, no-repeat;
          background-position: 0px 0, right 1px center;
          width: 369px;
          margin-left: 20px;
        }
      }
      > .sec-content {
        margin-top: 43px;
        color: #fff;
      }
      .ingradients-wrap {
        max-width: 1136px;
        margin: 0 auto;
        margin-top: 85px;
      }
      .ingradientList {
        margin-left: -50px;
        margin-top: -60px;
        display: flex;
        flex-wrap: wrap;
        > * {
          padding-left: 50px;
          padding-top: 60px;
          width: 33.333333333%;
        }
      }
      .ingradient {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        height: 100%;
        .i-circle {
          max-width: 108px;
          width: 34%;
          border-radius: 50%;
          background-color: #fff;
          &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
          }
        }
        > .iconBox {
          width: 100%;
          display: flex;
          justify-content: center;
        }
        > .nameBox {
          @include fontSize(20px);
          font-weight: 700;
          line-height: normal;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin-top: 15px;
          text-align: center;
          white-space: pre-line;
          flex: 1;
          display: flex;
          align-items: center;
        }
        > .desBox {
          text-align: center;
          @include fontSize(16px);
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 1px;
          margin-top: 10px;
        }
        > .btnBox {
          margin-top: 20px;
        }
      }
    }
    &.director {
      position: relative;
      display: flex;
      justify-content: flex-start;
      .director-board-wrap {
        position: relative;
        z-index: 1;
        margin-right: 140px;
        width: 100%;
      }
      .director-board {
        background-image: url('/image/director-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50px;
        border-top-left-radius: 0;
        padding: 83px 100px 120px 127px;
        display: flex;
        align-items: center;
        color: #fff;
        > .directorBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          letter-spacing: 2px;
          line-height: normal;
          .director-name {
            margin-top: 39px;
            @include fontSize(20px);
            font-weight: 700;
            text-transform: uppercase;
          }
          .director-title {
            margin-top: 8px;
            @include fontSize(16px);
            font-style: italic;
            font-weight: 400;
          }
        }
        > .contentBox {
          flex: 1;
          padding-left: 88px;
          > .iconBox {
            .icon-leftQuote {
              display: block;
              margin: 0 auto;
              width: 90px;
              background-image: url('/image/left-quote.svg');
              background-repeat: no-repeat;
              background-size: 100%;
              background-position: center;
              &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
              }
            }
          }
        }
        .sec-content {
          margin-top: 13px;
          max-width: none;
          text-align: left;
          color: #fff;
          @include fontSize(22px);
          font-weight: 400;
          line-height: 48px;
          letter-spacing: 2px;
        }
        .avatar-circle {
          overflow: hidden;
          border-radius: 50%;
          max-width: 100%;
        }
      }
      .half-bg {
        position: absolute;
        z-index: 0;
        height: 50%;
        left: 0;
        right: 0;
        top: 0;
        background-color: $themeColor1;
        border-bottom-right-radius: 50px;
      }
    }
    &.ourBrandExperience {
      margin-top: 87px;
      .sec-title {
        > .wave {
          display: block;
          background-image: url('/image/wave.svg'), url('/image/wave.svg'),
            url('/image/wave.svg');
          background-repeat: no-repeat, no-repeat, no-repeat;
          background-position: 0px 0, 54% center, right 1px center;
          width: 472px;
          margin-left: 20px;
        }
      }
      > .sec-content {
        margin-top: 54px;
      }
      .clientList__container {
        max-width: 1040px;
        margin: 0 auto;
        margin-top: 30px;
        img {
          display: block;
        }
      }
    }
    &.projects {
      position: relative;
      .banner__container {
        padding: 13% 0 11%;
        position: relative;
        z-index: 1;
        max-width: 1040px;
        margin: 0 auto;
      }
      .banner__wrap {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .imgBox {
          position: relative;
          width: 540px;
          flex-shrink: 0;
        }
        .contentBox {
          flex: 1;
          color: #fff;
          padding-left: 65px;
          padding-top: 60px;
          padding-bottom: 80px;
          .t1Box {
            padding-left: 10px;
            @include fontSize(16px);
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2.222px;
          }
          .nameBox {
            margin-top: 12px;
            @include fontSize(32px);
            font-weight: 700;
            line-height: normal;
            letter-spacing: 3.636px;
          }
          .desBox {
            margin-top: 38px;
            color: #fff;
            @include fontSize(16px);
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 1px;
          }
        }
        .btnBox {
          position: relative;
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: -4%;
          z-index: 3;
          // left: 46%;
          // bottom: 0;
          // transform: translate(-50%, 64%);
          .ds-button {
            padding-top: 58px;
            padding-bottom: 58px;
          }
        }
        .paginationBox {
          position: absolute;
          z-index: 3;
          left: calc(100% + 32px);
          top: 0;
          transform: translate(0, -50%);
          width: 54px;
          color: #fff;
          @include fontSize(16px);
          font-weight: 300;
          line-height: normal;
          letter-spacing: 2.222px;

          &:after {
            content: '';
            display: block;
            padding-bottom: calc(47 / 54) * 100%;
          }
          .current {
            position: absolute;
            left: 0;
            top: 0;
          }
          .total {
            position: absolute;
            right: 0;
            bottom: 0;
          }
          .divider {
            position: absolute;
            left: 47%;
            top: 54%;
            height: 1px;
            width: 34px;
            background-color: $themeColor1;
            transform: translate(-50%, -50%) skewY(-45deg);
          }
        }
      }
      .bg-cover {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        overflow: hidden;
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          background: rgba(0, 0, 0, 0.75);
          background-blend-mode: normal, multiply;
        }
        .project-bg {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          filter: blur(10px);
        }
      }
      .ds-anime-title {
        .dot {
          left: calc(100% + 15px);
          bottom: 15px;
        }
      }
    }
  }
  .sec-title-warp {
    display: flex;
    justify-content: center;
  }
  .sec-title {
    @include fontSize(28px);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.636px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    > .text {
      > .dot {
        display: inline-block;
        width: 10px;
        border-radius: 50%;
        background-color: $themeColor2;
        position: relative;
        left: 15px;
        &::after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }
      }
    }
    > .wave {
      height: 13px;
      width: 100%;
    }
  }
  .ds-anime-title {
    .text {
      position: relative;
      @include textUnderLine();
    }
    .dot {
      @include dsDot();
    }
  }
  .sec-content {
    max-width: 1007px;
    margin: 0 auto;
    text-align: center;
    @include fontSize(16px);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;

    .highlight {
      color: $themeColor6;
    }
  }
  .btn__container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    &--moreIngradients {
      margin-top: 100px;
    }
  }
  .ingradient {
    .i-circle {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      &.i-ux-design {
        background-size: 45%;
      }
      &.i-ui-design {
        background-size: 57%;
      }
      &.i-web-dev {
        background-size: 76%;
        background-position: center 45%;
      }
      &.i-mobileApp-dev {
        background-size: 35%;
      }
      &.i-customer-loyalty {
        background-size: 63%;
      }
      &.i-digital-transformation {
        background-size: 55%;
      }
      &.i-degital-marketing {
        background-size: 30%;
      }
      &.i-branding {
        background-size: 42%;
      }
    }
  }
  .btn-viewMore {
    color: #fff;
    @include fontSize(14px);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.222px;
    padding: 20px 34px;
    border-radius: 99em;
    border: 2px solid #fff;
    text-transform: uppercase;
  }
  .btn-moreIngradients {
    color: #fff;
    @include fontSize(18px);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    .text {
      @include textUnderLine(calc(40%), $themeColor6);
      padding: 0;
      background-position: left bottom 2px;
      transition: all 0.25s ease;
    }
    &:hover {
      .text {
        background-position: left bottom 0px;
        background-size: auto 100%;
      }
    }
  }
  #flicking-projects {
    border-radius: 30px;
    cursor: grab;
    .panel {
      position: relative;
      width: 100%;
    }
    .image_wrap {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        pointer-events: none;
      }
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}
