.flicking-arrow-next,
.flicking-arrow-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  min-width: 26px;
  z-index: 2;
  @include mediaMax('media-pc_04') {
    width: 34px;
  }
  @include mediaMax('media-mb_01') {
    top: calc(100vw * 0.28);
  }
  > i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
    pointer-events: none;
  }
  * {
    pointer-events: none;
  }
  &.flicking-arrow-disabled {
    cursor: not-allowed;
    .Symbols .path_01 {
      //stroke: toRGBA(var(--theme_rgbStr-light3));
    }
  }
  .Symbols {
    &,
    .c_01 {
      transition: transform 0.15s ease, fill 0.25s ease;
      transform-origin: center;
    }
  }
  &:hover {
    .#{$uaPc} & {
      .Symbols {
        .c_01 {
          fill: darken($themeColor1, 5%);
        }
      }
    }
  }
  &:active {
    .Symbols {
      transform: scale(0.9);
      .c_01 {
        fill: lighten($themeColor1, 5%) !important;
      }
    }
  }
}
.flicking-arrow-prev {
  right: calc(100% + 50px);
  @include mediaMax('media-pc_04') {
    left: 20px;
    right: auto;
  }
  @include mediaMax('media-mb_01') {
    left: 0px;
    margin-left: -17px;
  }
}
.flicking-arrow-next {
  left: calc(100% + 50px);
  @include mediaMax('media-pc_04') {
    left: auto;
    right: 20px;
  }
  @include mediaMax('media-mb_01') {
    right: 0px;
    margin-right: -17px;
  }
}
